{
  "deploy_private_key": "0000000000000000000000000000000000000000000000000000000000000000",
  "deploy_ropsten_url": "https://eth-ropsten.alchemyapi.io/v2/kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk",
  "deploy_mainnet_url": "https://eth-mainnet.alchemyapi.io/v2/kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk",
  "etherscan_api_key": "EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE" 
}
